<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DakshBharat</title>
    <link rel="stylesheet" href="/css/style.css">

    <link rel="icon" type="image/svg+xml" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><circle cx='50' cy='50' r='48' stroke='%230f172a' stroke-width='4' fill='none' opacity='0.1'/><path d='M50 5 L62 50 L50 95 L38 50 Z' fill='%23ff5f1f'/><circle cx='50' cy='50' r='12' fill='%230f172a'/></svg>">

     <!-- Bootstrap CSS -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet"/>
     
     <!-- Google Fonts -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
     
     <!-- MapTiler SDK -->
     <link href="https://cdn.maptiler.com/maptiler-sdk-js/v2.3.0/maptiler-sdk.css" rel="stylesheet" />
     <script src="https://cdn.maptiler.com/maptiler-sdk-js/v2.3.0/maptiler-sdk.umd.js"></script>

</head>
<body>
    
    <%- include("../includes/navbar.ejs")%>

<!-- --------------------------------------------------------Body of the all the pages-------------------------- -->
    <div class="body-container">
        <%- include("../includes/flash.ejs") %>
        <%- body %>
        <%- include("../includes/chatbotBtn.ejs")%>
    </div>
<!-- ------------------------------------------------------------------------------------------------------------------ -->
  <%- include("../includes/footer.ejs")%>

    <!-- Bootstrap JS Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- for validation -->
     <script src="/js/script.js"></script>


<!-- flash auto-hide after few seconds -->
<script>
    document.addEventListener("DOMContentLoaded", () => {
      const toastElList = [].slice.call(document.querySelectorAll('.toast'))
      toastElList.map(function (toastEl) {
        const toast = new bootstrap.Toast(toastEl, { delay: 4000 })
        toast.show()
      })
    });
  </script>
  
</body>
</html>